<div class="header">
    <a href="/index.html"><img src="/img/logo.png" alt="Kochwelt Logo"></a>
    <nav class="hide-mobile">
        <a href="/index.html">Start</a>
        <a href="/recipe.html">Rezept des Tages</a>
        <a href="/contactform.html">Kontakt</a>
        <a href="/impressum.html">Impressum</a>
    </nav>

    <div class="burger-container" onclick="showDropdown()">
        <img src="/img/icons/icons8-menü-50.png" alt="">
    </div>

    <div class="burger-dropdown burger-dropdown-resp" id="burger-dropdown">
        <ul>
            <li><a href="/index.html">Start</a></li>
            <li><a href="/recipe.html">Rezept des Tages</a></li>
            <li><a href="/contactform.html">Kontakt</a></li>
            <li><a href="/impressum.html">Impressum</a></li>
        </ul>
    </div>
</div>